<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- home.page.html, créer un formulaire permettant de renseigner un
    pseudonyme, de choisir dans une liste déroulante un niveau de difficulté parmi « easy »,
    « medium » et « hard » et de mémoriser ou non ces informations. -->
      <label>Votre Pseudo</label><br>
      <input type="text" [(ngModel)]="pseudo"><br><br>

      <label>Difficulté</label><br>
      <select [(ngModel)]="difficulty">
        <option value="easy">Facile</option>
        <option value="medium">Moyen</option>
        <option value="hard">Difficile</option>
      </select><br>

      <input type="checkbox" id="memo" [(ngModel)]="checked">
      <label for="memo">Sauvegarder mes informations</label><br><br>

      <button (click)="Start()">Commencer</button><br><br>

    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
