<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf="hidden" >  
      <label>Votre Pseudo</label><br>
      <input type="text" [(ngModel)]="pseudo"><br><br>

      <label>Difficulté</label><br>
      <select [(ngModel)]="difficulty">
        <option value="easy">Facile</option>
        <option value="medium">Moyen</option>
        <option value="hard">Difficile</option>
      </select><br>

      <input type="checkbox" id="memo" [(ngModel)]="checkbox" value="true">
      <label for="memo"> Sauvegarder mes informations</label><br><br>

      <button (click)="start()">Commencer</button><br><br>
      <div *ngIf="error"><p id="error1">{{error}}</p></div>

    </div>

    <div *ngIf="!hidden">
      <p>Bienvenue {{pseudo}} !!!</p>

      <p>De quelle couleur est le ?</p><br>

      <button (click)="answer()">Réponse A</button>
      <button (click)="answer()">Réponse B</button>
      <button (click)="answer()">Réponse C</button>
      <button (click)="answer()">Réponse D</button>
      <br><br>

      <div *ngIf="hiddenBtn"> 
          <button (click)="next()">Question suivante</button>
      </div>
    </div>

      
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
