<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list *ngIf="!beginGame">
      <ion-item>
        <ion-label position="floating">Votre Pseudo</ion-label>
        <ion-input type="text" [(ngModel)]="pseudo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Difficulté</ion-label>
        <ion-select  [(ngModel)]="difficulty">
          <ion-select-option value="easy">Facile</ion-select-option>
          <ion-select-option value="medium">Moyen</ion-select-option>
          <ion-select-option value="hard">Difficile</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-toggle color="primary" [(ngModel)]="checkbox"></ion-toggle>
        <ion-label > Sauvegarder mes informations</ion-label>
      </ion-item>
      <ion-button expand="full" (click)="start()">Commencer</ion-button>
      <!-- <div *ngIf="error"><p id="error">{{error}}</p></div>      -->
    </ion-list>

    <div *ngIf="beginGame">
      <ion-note color="secondary">Bienvenue {{pseudo}} !!!</ion-note>
      <ion-text>
        <h2 [innerHTML]="questionDisplay.question"></h2>
      </ion-text>
      <ion-grid>
        <ion-row >
            <ion-col size="6" *ngFor="let rep of questionDisplay.reponses">
              <ion-button color="transparent" (click)="answer(rep)" expand="full"
                [ngClass]="{'good' : nextQuestion && rep.correct, 'bad' : nextQuestion && !rep.correct, unknown: !nextQuestion}">
                {{ rep.answer }}
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button *ngIf="nextQuestion && !endGame" expand="full" (click)="questionNext()">Question suivante</ion-button>
      <ion-button *ngIf="nextQuestion && endGame" expand="full" (click)="back()">Retour</ion-button>
    </div>
    
    
        <!-- <ion-card *ngFor="let question of questions">
          <ion-card-header>{{question.category}}</ion-card-header>
          <ion-card-content>{{question.question}}</ion-card-content>
        </ion-card> -->
        <!-- <ion-card >
          <ion-card-header>{{questions[0].category}}</ion-card-header>
          <ion-card-content>{{questions[0].question}}</ion-card-content>
        </ion-card> -->


    <!--TP1 <div *ngIf="hidden" >  
      <label>Votre Pseudo</label><br>
      <input type="text" [(ngModel)]="pseudo"><br><br>

      <label>Difficulté</label><br>
      <select [(ngModel)]="difficulty">
        <option value="easy">Facile</option>
        <option value="medium">Moyen</option>
        <option value="hard">Difficile</option>
      </select><br>

      <input type="checkbox" id="memo" [(ngModel)]="checkbox" value="true">
      <label for="memo"> Sauvegarder mes informations</label><br><br>

      <button (click)="start()">Commencer</button><br><br>
      <div *ngIf="error"><p id="error">{{error}}</p></div>

    </div>

    <div *ngIf="!hidden">
      <p>Bienvenue {{pseudo}} !!!</p>

      <p>De quelle couleur est le ?</p><br>

      <button (click)="answer('A')">Réponse A</button>
      <button (click)="answer('B')">Réponse B</button>
      <button (click)="answer('C')">Réponse C</button>
      <button (click)="answer('D')">Réponse D</button>
      <br><br>

      <div *ngIf="hiddenBtn"> 
          <button (click)="next()">Question suivante</button>
      </div>
    </div> -->

      
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
